@import '../../container/Game/Game';

.profile {
  transition: $transition;
  color: whitesmoke;
  max-width: 250px;

  &:hover {
    box-shadow: $bg-shadow;
  }
  aside {
    padding: 5px;
    border-radius: 7.5px;
    transition: $transition;
    p {
      margin: 5px auto;
      text-shadow: $txt-shadow;
    }
    h3 {
      margin: 2px;
    }
  }
}
