@import '../../container/Game/Game';

.profile {
  transition: $transition;
  color: whitesmoke;
  max-width: 250px;
  padding: 5px;
  border-radius: 7.5px;
  hr {
    border: 1px dotted midnightblue;
  }
    p {
      margin: 5px auto;
      text-shadow: $txt-shadow;
      color: $txt-color;
    }
    h3 {
      margin: 2px;
      color: $txt-color;
    }
}

.result-area {
  animation: color-change 0.6s 5;
}

@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  75% { color: blueviolet}
  100% { color: red; }
}
