@import "../../container/Game/Game";
$secondary-bg-color: rgba(9, 9, 34, 0.89);

.about {
  height: 7.5vh;
  width: 50vw;
  background-color: $secondary-bg-color;
  border-radius: 5px;
  padding: 5px 10px;
  max-height: 760px;
  transition: $transition;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $txt-color;
  }
}
