$blue-bg: rgba(0, 186, 186, 0.78);
$bg-shadow: 0px 0px 16px 6px gray;
$transition: ease-out 0.2s;
$txt-shadow: 4px 4px 7px black;
$txt-color: rgba(198, 158, 131, 0.91);

.game {
  width: 90vw;
  background-color: rgba(9, 9, 34, 0.66);
  border-radius: 5px;
  padding: 5px 10px;
  max-height: 760px;
  transition: $transition;
  .fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear 300ms, opacity 300ms;
  }
  .fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s linear 0s, opacity 300ms;
  }

  .profile-and-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: $transition;
    @media screen and (max-width: 700px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &:hover {
      box-shadow: $bg-shadow;
    }
  }

  .text-area {
    border: 2px solid midnightblue;
    border-radius: 5px;
    padding: 10px;
    background-color: $blue-bg;
    transition: $transition;
    cursor: not-allowed;
    &:hover {
      box-shadow: $bg-shadow;
    }
  }

  .starter-btn {
    width: 100px;
    height: 35px;
  }

  .time-area {
    p.timer {
      margin: 2.5px 5px;
      display: flex;
      justify-content: center;
      font-size: 1.25rem;
      font-weight: 700;
      color: $txt-color;
      text-shadow: $txt-shadow;
    }
  }

  .typing-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    .progress-bar {
      width: 100px;
      margin: 5px;
      @media screen and (max-width: 760px) {
        width: 75px;
        margin: 3px;
      }
    }

    .type-field {
      width: 400px;
      height: 40px;
      padding: 1.5px;
      &:hover {
        box-shadow: $bg-shadow;
      }
      transition: ease-out 0.2s;
      @media screen and (max-width: 760px) {
        width: 200px;
        height: 20px;
        padding: 1px;
        font-size: 1.25rem;
      }
      border: 2px solid #1b6c64;
      font-size: 1.75rem;
      border-radius: 5px;
    }
  }
}
